 @media (min-width: 600px) {
     .navbar-ul {
         background: #131313;
         display: block;
         font-size: 13px;
         font-weight: 500;
         line-height: 32px;
         max-height: 32px;
         position: relative;
         z-index: 2;
         margin: 0;
     }

     nav {
         margin-bottom: 15px;
     }

     div {
         display: block;
     }

     .navbar-ul li {
         display: inline;
     }

     .navbar-ul li a {
         text-decoration: none;
         color: white;
         font-size: 110%;
     }

     .navbar-div {
         background: #ffffff;
         display: block;
         font-size: 13px;
         font-weight: 500;
         line-height: 32px;
         max-height: 45px;
         position: relative;
         z-index: 2;
         margin: 0;
         height: 45px;
     }

     .navbar-div ul li {
         display: inline;
     }

     .navbar-div ul li a {
         text-decoration: none;
         color: rgb(0, 0, 0);
         font-size: 16px;
         letter-spacing: 1px;
         word-spacing: 6px;

     }

     .navbar-div ul {
         margin: 0;
         padding-top: 5px;
     }

     .top{
         background: #eaecef;
         height: 75vh;
         max-height: 560px;
         padding: 5px;
     }
     .top-articles {
         background: #eaecef;
         height: 75vh;
         max-height: 560px;
         padding: 5px;
     }
     .top-articles::after{
         content: '';
         display: block;
         clear: both;
     }

     .article-big {
         width: 66.66%;
         background: #80f442;
         height: 100%;
         background: linear-gradient(to right bottom, rgba(224, 81, 15, 1), rgba(22, 22, 22, 0)),
             url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2017/09/Older-Person-796x398.jpg);
         background-size: cover;
         float: left;
         position: relative;
     }

     .smaller-articles {
         width: 33.33%;
         height: 100%;
         float: right;
     }
     .smaller-articles::after{
         content: '';
         display: block;
         clear: both;
     }
     
     .logo-big .date {
         display: block;
     }

     .date {
         position: absolute;
         right: 7px;
         top: 7px;
         /* display: none; */
         color: #fff;
     }

     .logo-big {
         background: url(https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/img/tnw.svg) no-repeat;
         position: absolute;
         top: 20px;
         left: 20px;
         z-index: 5;
         width: 100%;
         max-width: 50%;
         height: 100%;
         max-height: 112px;
     }

     .text {
         position: absolute;
         bottom: 7px;
         left: 7px;
         font-size: inherit;
     }

    .smaller-articles {
        width: 33.33%;
        height: 100%;
        float: right;
       
    }
    .small{
            height: 50%;
            padding-left: 5px;
            position: relative;
    }
    #first{
            background: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2016/06/vintage-robot-796x398.jpg);
            background-position: center center;
            background-size: cover;
            background-clip: content-box;
            padding-bottom: 5px;
    }
    #second{
            background: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2017/08/Terminator-3-796x398.jpg);
            background-position: center center;
            background-size: cover;
            background-clip: content-box;
    }
    .details{
        position: absolute;
        bottom: 7px;
        left: 7px;
        font-size: inherit;
    }
    .top-h2{
        color: #fff;
        font-weight: 500;
        letter-spacing: .04em;
        line-height: 1.5;
        font-size: 1em;
        margin: 0;
    }
    .top-h1{
        color: #fff;
        font-size: 3em;
        line-height: 1;
        font-weight: 700;
        font-family: Avalon,
        sans-serif;
        margin: 0;
    }
    .top-h3{
        font-size: 0.9em;
        line-height: 20px;
        color: rgba(255, 255, 255, .6);
    }
    .clock{
        background: url(https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/img/icons-sprite.svg?1491314472970) no-repeat;
        background-position: -160px -160px;
        width: 16px;
        height: 16px;
        display: inline-block;
        vertical-align: text-bottom;
        margin: 0 5px;
    }
    .fork{
            background: url(https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/img/icons-sprite.svg?1491314472970) no-repeat;
            width: 16px;
            height: 16px;
            display: inline-block;
            background-position: -864px -864px;
            vertical-align: text-bottom;
            margin: 0 5px;
    }
    /* Latest News Section */
    .wrapper{
            margin: 0 auto;
            max-width: 1192px;
            padding: 0 20px;
    }

    .latest-news{
        padding-top: 36px;
    }
    .row{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        margin:  8px;
        list-style-type: none;
        padding-left: 0px;
    }
    .row ul li{
        padding: 12px;
    }
    .col-max{
        flex-basis: 25%;
        max-width: 25%;
        padding: 8px;
    }
    .story-image{
        background-color: #000;
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        display: block;
        height: 0;
        overflow: hidden;
        padding-top: 50%;
        width: 100%;
        margin-bottom: 8px;
        position: relative;
    }
    .story-title{
        font-size: 16px;
        font-weight: 700;
        line-height: 18px;
        margin-bottom: 1px;
        overflow-wrap: break-word;
        word-wrap: break-word;
    }
    .story-byline{
        overflow: hidden;
        zoom: 1;
        color: #aaa;
        font-size: 12px;
        line-height: 18px;
        padding-top: 4px;
        padding-left: 0px;
    }
    .story-byline li{
        display: block;
        float: left;
    }


    /*  */
    #cat{
        padding: 0;
        margin-top: 20px;
      
    }
    #cat > li {
        width: 33.33%;
        height: 100%;
        background: #FFF;
        float: left;
        min-height: 700px;
        padding: 10px;
    }

    #cat h2 {
        color: #F42;
        font-size: 28px;
        line-height: 1.1;
        letter-spacing: -.015em;
        font-weight: 700;
        font-family: Avalon,sans-serif;
        margin-bottom: 24px;
    }

    .li-img {
        height: 275px;
        position: relative;
        background-size: 100% 100%;
        background-size: cover;
        background-position: center center;
        top: 0;
    }

    .item-1 {
        background: url(https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/img/image-gradient.png), url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2017/09/whatsapp-368x276.jpg) no-repeat;
    }
    .item-2 {
        background-image: url(https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/img/image-gradient.png), url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2017/09/Apple-Watch-Series-3-hed-368x276.jpg);
    }
    .inside-li {
        position: relative;
        bottom: -45%;
        color: #FFF;
        margin-left: 8px;
        margin-right: 45px;
    }
    .thumb-2 {
        background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2017/09/iPhone-X-fast-charge.jpg);
    }
    .item-3 {
        background-image: url(https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/img/image-gradient.png), url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2017/09/algae-img-001-368x276.jpg);
    }
    .thumb-3 {
        background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2017/09/autonomous.jpg);
    }
    .item-4 {
        background-image: url(https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/img/image-gradient.png), url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2017/09/PETA-368x276.jpg);
    }
    .thumb-4 {
        background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2017/08/xJaXOiV-1.jpg);
    }
    .item-5 {
        background-image: url(https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/img/image-gradient.png), url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2017/09/what-the-fork-368x276.png);
    }
    .thumb-5 {
        background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2017/09/ecommerce-2140603_1920-1.jpg);
    }
    .item-6 {
        background-image: url(https://cdn0.tnwcdn.com/wp-content/themes/cyberdelia/assets/img/image-gradient.png), url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2017/09/file-20170831-22397-1vtyfmc-1-368x276.jpg);
    }
    .thumb-6 {
        background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2017/09/pornhub-iphone-apple.jpg);
    }

    .sub-div {
        background-color: rgba(255,68,34,.06);
        height: 96px;
        padding-left: 20px;
        margin: 4px 0;
        color: #F42;
    }
    .latest-thumb {
        background-position: center center;
        background-size: cover;
        height: 96px;
        width: 96px;
        display: block;
        float: right;
    }
    .thumb-1 {
        background-image: url(https://cdn0.tnwcdn.com/wp-content/blogs.dir/1/files/2017/01/Trello-hed-2.jpg);
    }
    .cat-li {
        padding: 6px 0 6px 20px;
        position: relative;
        border-bottom: 1px solid #EEE;
        width: 100%;
        display: inline-block;
        list-style: none;
        list-style-type: none;
    }
     
        .section-headline::before {
        background-color: #F42;
        border-radius: 50%;
        content: '';
        display: inline-block;
        height: 4px;
        left: 4px;
        top: 14px;
        width: 4px;
    } 
    .section-headline{
        border-bottom: 1px solid #eee;
        padding-bottom: 8px;
        margin-left: 20px
    }
    .headlines{
        padding-left: 0;
        list-style: none;
        list-style-type: none;
    }
 }

 body {
     margin: 0;
     background: rgb(226, 226, 225);
     font-family: 'ARS Maquette',
         'Helvetica Neue',
         Arial,
         sans-serif;
 }
 *{
     box-sizing: border-box;
 }

/* ul{
    margin:0;
    padding:0;
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    
} */
h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
a {
    text-decoration: none;
    color: inherit;
}